@media(max-width: 767px) {
    main {
        #top {
            width: 90vw;
        }
        #screen {
            width: 90vw;
        }
        #buttons {
            width: 90vw;
        }
    }
}
